* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 15px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
}



header nav {
  width: 100%;
  background: #00b769;
  overflow: hidden;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  background: #02ac62;
}

.registro {
  width: 400px;
  background: #00b769;
  padding: 30px;
  margin: 20px auto;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controles {
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
}

.registro .boton {
  width: 100%;
  background: #03663b;
  border: none;
  color: white;
  padding: 12px;
  margin: 16px 20;
  font-size: 16px;
  box-shadow: 1px 1px 1px #000;
}

.contenedor .formulario .titulo {
  font-weight: normal;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  padding: 14px 0;
}

.contenedor .formulario .titulo span {
  color: #fff;
}

.contenedor .formulario {
  background: #00b769;
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  box-shadow: 7px 13px 37px #000;
}

.contenedor .formulario .label {
  display: block;
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  position: relative;
}

.contenedor .formulario .form-input {
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
}

.contenedor .formulario {
  resize: vertical;
}

.contenedor .formulario .bton-submit {
  width: 100%;
  background: #03663b;
  border: none;
  color: white;
  padding: 12px;
  margin: 16px 20;
  font-size: 16px;
  box-shadow: 1px 1px 1px #000;
}