<div class="sitio">
  <div class="small-container1">
    <div class="row1">
      <div class="col-21">
        <img src="img/logo.png" class="sitio-img">
      </div>
      <div class="col-21">
        <p>Turismo en el caquetà</p>
        <h1>Importancia del Turismo</h1>
        <small>El turismo es actualmente una de las actividades económicas y culturales más importantes con las
          que puede contar un país o una región. Entendemos por turismo a todas aquellas actividades que
          tengan que ver con conocer o disfrutar de regiones o espacios en los que uno no vive de manera
          permanente. El turismo puede presentar muchas variantes ya que hay diferentes tipos de turismo:
          turismo cultural, de aventura, de entretenimiento, de relajación. Del mismo modo, también hay
          diferentes personas que realizan diversos tipos de turismo: turismo de jóvenes, de familias, de la
          tercera edad, de parejas, de amigos, etc.</small>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="contenedor-5">
    <h1>@2020 Diseño y Desarrollo: Edwin Quebrada & Juan camilo lopez marìn</h1>
  </div>
</footer>