<form method="POST" action="/registrarusuario">

    <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Registrarse</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3 col-22">
                    <div class="md-form mb-4">
                        <input type="text" name="nombre_uno" class="form-control validate" placeholder="Primer Nombre">
                    </div>
                    <div class="md-form mb-4">
                        <input type="text" name="nombre_dos" class="form-control validate" placeholder="Segundo Nombre">
                    </div>
                    <div class="md-form mb-4">
                        <input type="text" name="apellido_uno" class="form-control validate"
                            placeholder="Primer Apellido">
                    </div>
                    <div class="md-form mb-4">
                        <input type="text" name="apellido_dos" class="form-control validate"
                            placeholder="Segundo Apellido">
                    </div>
                    <div class="md-form mb-4">
                        <input type="tel" name="telefono" class="form-control validate" placeholder="Número Telefónico">
                    </div>
                    <div class="md-form mb-4">
                        <input type="text" name="correo" class="form-control validate" placeholder="Usuario">
                    </div>
                    <div class="md-form mb-4">
                        <input name="clave" id="form2" class="form-control validate" placeholder="Contraseña">
                    </div>
                    <div class="md-form mb-4">
                        <input type="password" name="clave_confirmada" class="form-control validate"
                            placeholder="Confirme Contraseña">
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <input type="submit" class="btn1" value="Registrarme" />
                </div>
            </div>
        </div>
    </div>

</form>