<header>


    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
        <div class="container">

            <a href="#" class="logoT"><img src="img/logo.png" width="60px" alt="">Turismo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    {{#if user}}

                    {{#if sitios}}
                    <li class="nav-item">
                        <a class="nav-link" href="#" class="btn1" data-toggle="modal"
                            data-target="#modalSubscriptionForm-registrarsitio">Registro Sitio Turistico</a>
                    </li>
                    {{/if}}

                    <li class="nav-item active" id="cerrar_sesion">
                        <a href="/" class="nav-link">Cerrar sesión</a>
                    </li>

                    {{else}}

                    {{#if sitios}}
                    <li class="nav-item">
                        <a class="nav-link" href="#" class="btn1" data-toggle="modal"
                            data-target="#modalSubscriptionForm-login">Registro Sitio
                            Turistico</a>
                    </li>
                    {{/if}}

                    <li class="nav-item">
                        <a class="nav-link" href="#" class="btn1" data-toggle="modal"
                            data-target="#modalSubscriptionForm">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" class="btn1" data-toggle="modal"
                            data-target="#modalSubscriptionForm-login">Iniciar Sesión</a>
                    </li>

                    {{/if}}

                </ul>
            </div>
        </div>
    </nav>


</header>