<div class="formulario">
    <h1 class="titulo">Login</h1>

    <form  method="POST" action="/validarusuariopost">

        <label for="usuario" class="label">USUARIO</label>
        <input name="usuario" type="text" class="form-input"  placeholder="Ingrese su usario">
        <label for="clave" class="label">CONTRASEÑA</label>
        <input name="contrasena" type="password" class="form-input" placeholder="Ingrese su clave">

        <input type="submit" class="bton-submit" value="INICIAR SESION"/>

    </form>
</div>