<section class="registro">
    <h4>Registra un sitio turistico</h4>
    {{#if user}}
    <p>Tenemos el usuario: {{user}}</p>
    {{/if}}
    <form method="POST" action="/registrarsitiopost?user={{user}}&rol={{rol}}">
        <input name="nombre_sitio" class="controles" type="text" placeholder="Ingrese el nombre" />
        <input name="ubicacion" class="controles" type="text" placeholder="Detalle la ubicacion" />
        <input name="puntuacion" class="controles" type="text" placeholder="Ingrese una puntuación" />
        <input name="servicios" class="controles" type="text" placeholder="Detalle los servicios" />
        <input name="presupuesto" class="controles" type="text"
            placeholder="Detalle un presupuesto para pasarla bueno" />
        <input name="archivoregistrarsitio" class="boton" type="file">
        <input class="boton" type="submit" value="Registrar Sítio" />
    </form>
</section>