<section class="registro">
    <h4>Registro</h4>
    <form  method="POST" action="/registrarusuario">
        <input name="nombre_uno" class="controles" type="text" placeholder="Ingrese su  Primer Nombre" />
        <input name="nombre_dos" class="controles" type="text" placeholder="Ingrese su Segundo Nombre" />
        <input name="apellido_uno" class="controles" type="text" placeholder="Ingrese su Primer Apellido" />
        <input name="apellido_dos" class="controles" type="text" placeholder="Ingrese su Segundo Apellido" />
        <input name="telefono" class="controles" type="text" placeholder="Ingrese Numero Telefonico" />
        <input name="correo" class="controles" type="email" placeholder="Ingrese su Correo" />
        <input name="clave" class="controles" type="password" placeholder="Ingrese su Contraseña" />
        <input name="clave_confirmada" class="controles" type="password" placeholder="Confirme su Contrseña" />
        <input class="boton" type="submit" value="Registrar" />
    </form>
</section>